* {
  /* border: 1px solid red; */
  font-family: 'Lato', sans-serif;
}

body {
  background: #F8F8F8;
}

.right-align{
  text-align: right;
}

header {
  padding-bottom: 3px;
  margin-bottom: 20px;
  border-bottom: 3px solid gray;
}

.name {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 0px;
}

.tagline {
  margin-top: 0px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.banner {
  max-width: 1200px;
}

.banner-img {
  width: 100%;
}

h2 {
  color: #BCBBBB;
}

.projects {
  text-align: center;
  margin-bottom: 20px;
}

.project:nth-child(1) {
  margin-right: 20px;
}

.project:nth-child(3) {
  margin-left: 20px;
}

.project img {
  width: 100%;
}

.project h3, .project p {
  margin: 0;
}

.project h3 {
  font-size: 1.75em;
  font-weight: 400;
}

.project p {
  color: #BCBBBB;
}

footer {
  justify-content: center;
}

.social-icon {
  width: 35px;
  height: 35px;
  margin: 5px;
}
