* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  background: #F8F8F8;
}

.grid {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


/* flexbox */
.row {
  width: 100%;
  display: flex;
}

.right-align{
  text-align: right;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}


/* Header */
header {
  padding-bottom: 3px;
  margin-bottom: 20px;
  border-bottom: 3px solid gray;
}

.name {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 0px;
}

.tagline {
  margin-top: 0px;
}

.avatar {
  width: 100px;
}
.avatar img {
  width: 100%;
  border-radius: 50%;
}


/* Banner */
.banner {
  max-width: 1200px;
}

.banner-img {
  width: 100%;
}

h2 {
  color: #BCBBBB;
}


/* Project Showcase */
.projects {
  text-align: center;
  margin-bottom: 20px;
}

.project {
  width: 30%;
}

.project-image {
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}
.gcamp { background-image: url('../img/gcamp.png'); }
.exercism { background-image: url('../img/exercism.png'); }
.simple-draw { background-image: url('../img/simple-draw.png'); }

.project-text {
  width: 100%;
}

.project h3 {
  font-size: 1.50em;
  font-weight: 400;
  margin: 0;
}

.project p {
  color: #BCBBBB;
  margin: 0;
}


/* Footer */

footer {
  justify-content: center;
  margin-top: 40px;
}

.social-icon {
  width: 35px;
  height: 35px;
  margin: 5px;
}
