* {
  /* border: 1px solid red; */
  font-family: 'Lato', sans-serif;
}

header {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.name {
  text-align: right;
}

.banner {
  max-width: 1200px;
}

.projects {
  text-align: center;
  margin-bottom: 20px;
}

.project img {
  width: 80%;
}

footer {
  justify-content: center;
}

.social-icon {
  width: 35px;
  height: 35px;
  margin: 5px;
}
